#root {
  display: flex;
  justify-content: flex-start;
}

.Tabs {

    &__tab-title {
      display: inline;
      margin: 10px;
      text-decoration: none;
      padding: 10px;
      margin-right: -6px;
      border: 1px solid grey;
      border-bottom: 0;
      background-color: white;
      font-size: 20px;
      cursor: pointer;
    }
}